
<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="hero-img">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean" width="500" height="255">
    <div class="hero-txt">
        <p>DMC Delorean</p>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>   
        <button id="own" name="own">Own Today</button>
    </div>
</div>

<div id="section-container">
    <section id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!." (5/5)</li>
            <li>"80's livin and I love it!." (5/5)</li>
        </ul>
    </section>
    <section id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div id="upgrade-items">
            <div class="card">
                <div class="cardimg"><img src="/images/upgrades/flux-cap.png" width="65" height="65" alt="Flux Capacitor"></div>
                <p class="upgrade-name"><a href="">Flux Capacitor</a></p>
            </div>
            <div class="card">
                <div class="cardimg"><img src="/images/upgrades/flame.jpg" width="65" height="82" alt="Flame Decals"></div>
                <p class="upgrade-name"><a href="">Flame Decals</a></p>
            </div>
            <div class="card">
                <div class="cardimg"><img src="/images/upgrades/bumper_sticker.jpg" width="65" height="57" alt="Bumper Stickers"></div>
                <p class="upgrade-name"><a href="">Bumper Stickers</a></p>
            </div>
            <div class="card">
                <div class="cardimg"><img src="/images/upgrades/hub-cap.jpg" width="65" height="65" alt="Hub Caps"></div>
                <p class="upgrade-name"><a href="">Hub Caps</a></p>
            </div>
        </div>
    
    </section>
</div>
