@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --primary-color: #013F4E;
  --secondary-color: #00718F;
  --accent1-color: #1194c4;
  --accent2-color: #e1eaec;
  --accent1light-color: #e1f1f4;

  --accent-font: "Anton",  sans-serif;
  --paragraph-font: 'Raleway', sans-serif;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: var(--paragraph-font);
  color: black;
}

body {
  background-color: white;
  width: 100vw;
  margin: 0;
}

main {
  margin: 5px;
}


h2 {
  font-family: var(--accent-font);
  font-size: 1.8rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}


button {
  background-color: var(--accent1-color);
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  border: var(--secondary-color) 3px solid;
  border-style: outset;
  padding: 10px;
  cursor: pointer;
}

button:hover,
.submitBtn:hover {
  filter: brightness(110%);
}

button:active,
.submitBtn:active {
  border-style: inset;
}

#errorlink {
  text-decoration: underline;
  color: var(--primary-color);
  font-weight: bold;
}

footer {
  margin: 50px 0 0 0;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ============= Error ============= */
#errorEngine {
  width: 80%;
  margin: auto auto;
  text-align: center;
}

#errorEngine img{
  width: 100%;
  max-width: 250px;
  margin: auto auto;
  animation: flickering 3s;
}

#errorEngine p {
  font-family: var(--accent-font);
  font-size: 1.5em;
}

@keyframes flickering {
  0% {opacity: 0;}
  10% {opacity: 0.4;}
  40% {opacity: 0.6;}
  50% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 1;}
}

/* ============= Notices & Errors ============= */

.notice, .error {
  margin-block-start: 0;
  padding-inline-start: 0;
  margin: 0 0 30px 0;
}

.notice li,
.error li {
  display: block;
  width: 100%;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px 0;
}

.notice li {
  background-color: var(--accent1light-color);
  border: var(--accent1-color) solid 2px;
}

.error li {
  background-color: rgb(244, 218, 218);
  border: #d62222 solid 2px;
}

/* ============= Header ============= */

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}

.siteName {
  font-family: var(--accent-font);
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: black;
}

#tools a {
  text-transform: uppercase;
}

/* ============= Navigation ============= */

nav ul{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  list-style: none;
  font-weight: bold;
  padding-inline-start: 0;
}

nav li {
  display: block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

nav a {
  display: block;
  padding: 10px;
}

nav li:hover {
  color: var(--accent2-color);
}


/* ============= Hero Image ============= */
.hero-img {
  position: relative;
  width: 100%;
  font-size: 1.3rem;
}

.hero-img img {
  display: block;
  width: 70%;
  height: auto;
  margin: auto auto;
}

.hero-txt {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  top: 0%;
  left: 10%;
  color: var(--accent1-color);
  font-weight: bold;
  border-radius: 5px;
}

.hero-txt p {
  font-size: 1.2rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

.hero-txt ul {
  list-style: none;
  padding-inline-start: 0px;
  font-size: 1rem;
}

/* ============= Sections: Upgrades & Reviews ============= */
#section-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 30px 5% 30px 5%;
  column-gap: 50px;
}

#reviews ul {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-inline-start: 10px;
}

#upgrade-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 15px;
  font-size: 1.4rem;
  font-weight: 400;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 30%;
  text-align: center;
}

.cardimg {
  width: 100%;
  box-shadow: var(--shadow);
  padding: 10px 0;
  border: solid 3px var(--accent1-color);
}

.cardimg img {
  width: auto;
  height: 100%;
}

.card p {
  margin-block-start: 0;
  margin: 5px;
  font-family: var(--accent-font);
  letter-spacing: 1px;
}

/* ============= Sections: Inventory ============= */
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 30px;
  column-gap: 20px;
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 20px;
}

#inv-display li a{
  display: block;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

#inv-display img {
  width: 105%;
  height: auto;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  border-radius: 5px;
}

#inv-display li {
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 5px;
  background: white;
}

#inv-display li:hover {
  transform: scale(1.2);
  z-index: 1;
}

#inv-display li>a {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: black;
}

.namePrice {
  display: grid;
  grid-template-areas: 'hr hr hr' 'name name price';
  padding: 0 15px 15px 15px;
}

.namePrice hr {
  grid-area: hr;
}

.namePrice h2 {
  grid-area: name;
  height: fit-content;
  letter-spacing: 1.2px;
  font-size: 1.2em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
}

.namePrice span {
  grid-area: price;
  font-size: 1.5em;
}

/* ============= Sections: Inventory Detail ============= */
div#inv_details {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
  margin: 10px;
}

#inv_photos {
  margin: auto auto;
}

#inv_photos img {
  width: 100%;
  height: auto;
  border: solid black 2px;
  border-radius: 5px;
  box-shadow: var(--shadow)
}

#inv_details h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

#details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: var(--accent-font);
  letter-spacing: 1px;
}

#details p {
  margin-block-start: 10px;
  margin-block-end: 0;
}

#details span {
  font-size: 1.4em;
}

#price {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
}

#price p {
  text-align: center;
  background-color: var(--accent1-color);
  color: white;
  border-radius: 5px;
  letter-spacing: 2px;
  vertical-align: middle;
  line-height: 2em;
}

#price span {
  font-family: var(--accent-font);
  font-size: 1.5em;
}

#desc {
  background-color: #f4f2f2;
  padding: 10px 20px;
  border-radius: 5px;

}

#desc p:first-child {
  font-family: var(--accent-font);
  font-size: 1.5em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 1px;
}

#desc p:last-child {
  font-size: 1.2em;
}

/* ============= Sections: Form Elements ============= */
form {
  display: block;
  padding: .5rem 3%;
  background-color: var(--accent2-color);
  border-radius: 5px;
}

form .top {
  display: block;
  width: 100%;
  margin-top: 20px;
  color: var(--primary-color);
  font-family: var(--accent-font);
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 1rem auto 0 auto;
}

form input,
form select,
form textarea {
  --webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px var(--primary-color);
  border-radius: 5px;
  padding: .7rem 2% .7rem 2%;
  width: 100%;
  margin: .2rem auto;
}

.button {
  background-color: var(--primary-color);
  color: white;
  font-family: var(--accent-font);
  font-size: 1.1rem;
  letter-spacing: 2px;
  width: 40%;
  min-width: 150px;
  margin: 20px auto;
  border: var(--primary-color) 5px solid;
  border-radius: 115px;
  padding: 2px;
}

.button:hover:enabled {
  filter: brightness(1.3);
}

.button:active:enabled {
  border-color: var(--accent1-color);
  border-style: inset;
}

.button:disabled {
  background-color: dimgrey;
}

form input:required,
form select:required,
form textarea:required {
  border-left: rgb(185 4 4) solid 6px;
}

form input:required:valid,
form select:required:valid,
form textarea:required:valid {
  border-left: var(--accent1-color) solid 6px;
}

#loginCredentials p {
  font-size: 1.1rem;
  text-align: center;
}

#loginCredentials p a {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--primary-color);
}

#loginCredentials p a:hover, 
form #showpwd:hover {
  color: var(--accent1-color);
}

form #password span {
  font-size: 1rem;
  margin: 1rem auto 0 auto;
}

form #showpwd {
  font-weight: bold;
  cursor: pointer;
}
form #showpwd.hide::before {
  content: "👁 ";
  filter: opacity(.5) grayscale(1);
}

form #showpwd::before {
  content: "👁 ";
  filter: opacity(1) grayscale(1) contrast(1.5) ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form textarea {
  height: 100px;
  font-family: var(--paragraph-font);
}

/* ============= Sections: Inventory Management ============= */
.listButtons {
  margin-block-start: 0;
  padding-inline-start: 0;
}

.listButtons li{
  display: inline-block;
  line-height: 60px;
}

.listButtons .button {
  margin: 20px 0;
  padding: 5px 20px;
  width: max-content;
}

.listButtons .button:hover,
.listButtons .button:focus,
.listButtons .button:active {
    color: white;
}

#manage, #add {
  padding: .5rem 3%;

}

#manage {
  background-color: var(--accent2-color);
  border-radius: 5px;
}

#manage select {
  --webkit-appearance: none;
  font-size: 1rem;
  border: solid 1px var(--primary-color);
  border-radius: 5px;
  padding: .7rem 2% .7rem 2%;
  width: fit-content;
  max-width: 90%;
  margin: 10px 10px 20px 10px;
}

#manage label {
  margin-top: 20px;
  color: var(--primary-color);
  font-size: 1.3rem;
  margin: 1rem auto 0 auto;
}

#inventoryDisplay {
  line-height: 45px;
  border-collapse: collapse;
}

#inventoryDisplay thead{
    font-weight: bold;
    text-align: left;
    font-size: 1.1em;
    border-bottom: solid black 2px;
}

#inventoryDisplay thead th{
  background-color: white;
  padding: 0 20px;
  border-radius: 10px 10px 0px 0px;
}

#inventoryDisplay tbody tr {
  border-top: solid black 1px;
  background-color: white;
}

#inventoryDisplay td {
  padding: 0 20px;
  font-size: 1.1em;
}

#inventoryDisplay a {
  padding: 5px 15px;
  background-color: white;
  font-weight: bold;
  border: var(--secondary-color) 2px solid;
  border-radius: 10px;
}

#inventoryDisplay a:hover {
  background-color: var(--primary-color);
  color: white;
}

#inventoryDisplay a:active {
  border-style: inset;
}


@media screen and (min-width:800px) {
  html {
      background: url('/images/site/small_check.jpg') repeat;
  }

  h2 {
    letter-spacing: 3px;
  }

  body {
    border: var(--accent1-color) solid 4px;
    border-radius: 10px;
    width: 80vw;
    padding: 10px;
    margin: 20px auto;
  }

  #top-header {
    margin: 0;
  }

  main {
    margin: 0;
  }

  .hero-txt {
    top: 10%;
  }

  .hero-txt ul {
    font-size: 1.4rem;
  }

  .hero-txt p {
    font-size: 1.6rem;
  }

  button {
    margin: 10px;
    font-size: 1.5rem;
  }

  #section-container {
    grid-template-columns: 1fr 1fr;
  }

  #reviews {
    grid-column: 2;
    grid-row: 1;
  }

  #upgrades {
    grid-column: 1;
    grid-row: 1;
  }

  #reviews ul {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  div#inv_details {
    grid-template-columns: 1fr 1fr;
  }
  #details {
    flex-direction: row;
    justify-content: space-evenly;
    border: black solid 1px;
    border-radius: 5px;
    margin: 10px 0;
  }
  #details p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 15px;
  }

  #details span {
    text-wrap: nowrap;
  }

  #price p {
    line-height: 1.7em;
    text-wrap: nowrap;
  }

  #price span {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 5px;
    border: var(--accent1-color) 2px solid;
    border-radius: 5px;
  }

  form {
    width: 50%;
  }
}
